.book-cta {
    /*background-color: #1e3a8a;*/
    color: #1e3a8a;
    text-align: center;
    padding: 40px 20px;
    margin-top: 40px;
    margin-bottom: 40px
  }
  
  .book-cta h2 {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  
  .book-btn {
    background-color: #3b82f6; /* light blue */
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.25s ease, transform 0.1s ease;
    
  }
  
  .book-btn:hover {
    background-color: #2563eb;
    transform: translateY(-2px);
  }
  